/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}


body {
    font-family: 'Corben', cursive;
    
    min-height: 740px;

    background: rgb(215, 215, 215);
    background: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 500, from(rgb(240, 240, 240)), to(rgb(190, 190, 190)));
    background: -webkit-radial-gradient(rgb(240, 240, 240), rgb(190, 190, 190));
    background:    -moz-radial-gradient(rgb(240, 240, 240), rgb(190, 190, 190));
    background:      -o-radial-gradient(rgb(240, 240, 240), rgb(190, 190, 190));
    background:         radial-gradient(rgb(240, 240, 240), rgb(190, 190, 190));

    -webkit-font-smoothing: antialiased;
}

b, strong { font-weight: bold }
i, em { font-style: italic}

a {
    color: inherit;
    text-decoration: none;
    padding: 0 0.1em;
    background: rgba(255,255,255,0.5);
    text-shadow: -1px -1px 2px rgba(100,100,100,0.9);
    border-radius: 0.2em;
    
    -webkit-transition: 0.5s;
    -moz-transition:    0.5s;
    -ms-transition:     0.5s;
    -o-transition:      0.5s;
    transition:         0.5s;
}

a:hover {
    background: rgba(255,255,255,1);
    text-shadow: -1px -1px 2px rgba(100,100,100,0.5);
}

img {
	box-shadow: 0 3px 8px rgba(0, 0, 0, .2);
	margin: 10px 0;
}

/* CUSTOM STYLES */

.light {
	opacity: 0.5 !important;
}

.indent {
	margin-left: 50px;
}

.left {
	float: left;
}

.right {
	float: right;
}

.clear {
	clear: both;
}

.title {
	-webkit-transform: rotate(-10deg);
    -moz-transform:    rotate(-10deg);
    -ms-transform:     rotate(-10deg);
    -o-transform:      rotate(-10deg);
    transform:         rotate(-10deg);
	font-size: 50px;
	font-weight: 800;
	line-height: 1.2em;
	color: #000;
	margin: 0 0 1.5em -1.5em;
}

.subtitle {
	font-size: 46px;
	color: #000;
}

.subtitle .subsubtitle {
	font-size: 40px;
	line-height: 36px;
}

.footnote {
	font-size: 30px;
	font-style: oblique;
}

.conclude {
	margin-top: 24px;
}

#attribution {
	margin: 1.5em;
	color: #333;
}

.only-me {
	opacity: 0.6;
}

#fun {
	font-size: 150px;
	padding-top: 500px;
	text-align: center;
}

#profit {
	font-size: 200px;
	padding-top: 600px;
	text-align: center;
}

.hide :not(.title) {
	opacity: 0;
	-webkit-transition: opacity 0.5s;
    -moz-transition:    opacity 0.5s;
    -ms-transition:     opacity 0.5s;
    -o-transition:      opacity 0.5s;
    transition:         opacity 0.5s;
}

.hide.active :not(.title){
	opacity: 1;
}

.hide.active .delay-1_5 {
	-webkit-transition-delay: 1.5s;
    -moz-transition-delay:    1.5s;
    -ms-transition-delay:     1.5s;
    -o-transition-delay:      1.5s;
    transition-delay:         1.5s;
}

.hide.active .delay-2 {
	-webkit-transition-delay: 2s;
    -moz-transition-delay:    2s;
    -ms-transition-delay:     2s;
    -o-transition-delay:      2s;
    transition-delay:         2s;
}

.hide.active .delay-2_5 {
	-webkit-transition-delay: 2.5s;
    -moz-transition-delay:    2.5s;
    -ms-transition-delay:     2.5s;
    -o-transition-delay:      2.5s;
    transition-delay:         2.5s;
}

.hide.active .delay-3 {
	-webkit-transition-delay: 3s;
    -moz-transition-delay:    3s;
    -ms-transition-delay:     3s;
    -o-transition-delay:      3s;
    transition-delay:         3s;
}

.hide.active .delay-3_5 {
	-webkit-transition-delay: 3.5s;
    -moz-transition-delay:    3.5s;
    -ms-transition-delay:     3.5s;
    -o-transition-delay:      3.5s;
    transition-delay:         3.5s;
}

.hide.active .delay-4 {
	-webkit-transition-delay: 4s;
    -moz-transition-delay:    4s;
    -ms-transition-delay:     4s;
    -o-transition-delay:      4s;
    transition-delay:         4s;
}

.hide.active .delay-4_5 {
	-webkit-transition-delay: 4.5s;
    -moz-transition-delay:    4.5s;
    -ms-transition-delay:     4.5s;
    -o-transition-delay:      4.5s;
    transition-delay:         4.5s;
}

.hide.active .delay-5 {
	-webkit-transition-delay: 5s;
    -moz-transition-delay:    5s;
    -ms-transition-delay:     5s;
    -o-transition-delay:      5s;
    transition-delay:         5s;
}

.hide.active .delay-5_5 {
	-webkit-transition-delay: 5.5s;
    -moz-transition-delay:    5.5s;
    -ms-transition-delay:     5.5s;
    -o-transition-delay:      5.5s;
    transition-delay:         5.5s;
}

.hide.active .delay-6 {
	-webkit-transition-delay: 6s;
    -moz-transition-delay:    6s;
    -ms-transition-delay:     6s;
    -o-transition-delay:      6s;
    transition-delay:         6s;
}

.hide.active .delay-6_75 {
	-webkit-transition-delay: 6.75s;
    -moz-transition-delay:    6.75s;
    -ms-transition-delay:     6.75s;
    -o-transition-delay:      6.75s;
    transition-delay:         6.75s;
}

#before-internet, 
#after-internet,
#not-very-likely,
#active-senses,
#senses {
	opacity: 0;
}

#before-internet.active, 
#after-internet.active,
#not-very-likely.active,
#senses.active,
#active-senses.active {
	opacity: 1;
}

#after-internet img {
	float: right;
	position: relative;
	left: 150px;
	top: -200px;
}

#is-computer-the-best {
	padding-bottom: 500px;
	
	-webkit-transform: rotate(20deg);
    -moz-transform:    rotate(20deg);
    -ms-transform:     rotate(20deg);
    -o-transform:      rotate(20deg);
    transform:         rotate(20deg);
}

#not-very-likely {
	font-size: 80px;
	font-weight: 800;
}

#senses,
#active-senses {
	text-align: center;
}

#senses img,
#active-senses img {
	box-shadow: 0 0 0 0;
	margin: 20px;
	padding: 5px;
	width: 90px;
	height: 90px;
}

#senses img#sense-hearing,
#senses img#sense-sight {
	padding: 15px;
}

#where-are-we-2 img#sense-hearing,
#where-are-we-2 img#sense-sight,
#active-senses img#sense-hearing,
#active-senses img#sense-sight {
	border-radius: 100px;
	border: 10px solid #d00;
}

#where-are-we-2 img#sense-smell,
#where-are-we-2 img#sense-taste,
#where-are-we-2 img#sense-touch,
#active-senses img#sense-smell,
#active-senses img#sense-taste,
#active-senses img#sense-touch {	
	opacity: 0.3;
}

#where-are-we:not(.active) {
	opacity: 0.5;
}

#where-are-we strong,
#where-are-we-2 strong {
	position: relative;
	top: -350px;
}

#where-are-we,
#where-are-we-2,
#where-are-we-3,
#skill-pre-made,
#skill-smart-bridges,
#skill-custom-firmware,
#skill-prototyping {
	text-align: center;
}

#where-are-we-2 img {
	box-shadow: 0 0 0 0;
	margin: 15px 20px;
	padding: 15px;
}

#arduino-examples div:not(.title) {
	margin: 20px 0;
}

#arduino-workshop div:not(.title) {
	text-align: center;
}

/* COMMON STEP STYLES */

.step {
    width: 900px;
    padding: 40px;

    -webkit-box-sizing: border-box;
    -moz-box-sizing:    border-box;
    -ms-box-sizing:     border-box;
    -o-box-sizing:      border-box;
    box-sizing:         border-box;

    font-size: 40px;
    line-height: 1.5;
}

/* fade out inactive slides */

.step {
    -webkit-transition: opacity 1s;
    -moz-transition:    opacity 1s;
    -ms-transition:     opacity 1s;
    -o-transition:      opacity 1s;
    transition:         opacity 1s;
}

.step:not(.active) {
    opacity: 0.05;
}

/* IMPRESS NOT SUPPORTED STYLES */

.fallback-message {
    font-family: sans-serif;
    line-height: 1.3;
    
    display: none;
    width: 780px;
    padding: 10px 10px 0;
    margin: 20px auto;

    border-radius: 10px;
    border: 1px solid #E4C652;
    background: #EEDC94;
}

.fallback-message p {
    margin-bottom: 10px;
}

.impress-not-supported .step {
    position: relative;
    opacity: 1;
    margin: 20px auto;
}

.impress-not-supported .fallback-message {
    display: block;
}